{% extends "base.html" %}

{% block css %}
<link href="/static/tablesort/tablesort.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">

	<h1>{{ pageTitle }}</h1>

	<table class="table table-striped table-sort {% if trier %}table-sort-search{% endif %}">
		<thead>
			<tr>
				<th>Nom</th>
				<th class="table-sort">Âge</th>
				<th>Thème</th>
				<th>Type</th>
				<th class="table-sort">Vues</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>

	{% for peoula in peoulot %}
			<tr>
				<td><a href="{% url 'lire' peoula.id %}">{{ peoula.nom }}</a></td>
				<td>{{ peoula.age }}-{{ peoula.age|add:"1" }}</td>
				<td>{{ peoula.theme }}</td>
				<td>{{ peoula.genre }}</td>
				<td>{{ peoula.telechargement }}</td>
				<td>{{ peoula.date_creation }}</td>
			</tr>
	{% endfor %}
		</tbody>
	</table>

</div>
{% endblock %}

{% block js %}
<script src="/static/tablesort/tablesort.min.js"></script>
<script>
	$(function () { $('.table-sort').tablesort(); });
</script>
{% endblock %}
