{% extends "base.html" %}

{% block content %}
<div class="container">

	<h1>{{ pageTitle }}</h1>

{% load crispy_forms_tags %}
<form action="/peoulot/{{ url }}" enctype="multipart/form-data" method="post">{% csrf_token %}
	{% crispy peoulaForm %}

	{% crispy fileForm %}

	<ul class="list-inline">
		{% for piece in files %}
		<li><button name="delete" value="{{ piece }}" type="submit" class="btn btn-link"><i class='fa fa-trash-o'></i> {{ piece }}</button></li>
		{% endfor %}
	</ul>

	<button class="btn btn-default" type="submit">{{ bouton }}</button>
</form>

</div>
{% endblock %}

{% block js %}

	{% load wysiwyg %}
	{% wysiwyg_setup %}
	{% block django_wysiwyg_editor_config %}
		{{ block.super }}
		<script>
			django_wysiwyg_editor_config = {
				lang: 'fr',
				plugins: ['fullscreen'],
				buttons: ['html', '|', 'formatting', '|', 'bold', 'italic', 'underline', 'deleted', '|', 'unorderedlist', 'orderedlist', 'outdent', 'indent', '|', 'image', 'table', 'link', '|', 'horizontalrule'],
				formattingTags: ['p', 'blockquote', 'h3', 'h4', 'h5'],
				сlipboardUpload: false,
				dragUpload: false
			};
		</script>
	{% endblock %}
	{% wysiwyg_editor "id_peoula-introduction" %}
	{% wysiwyg_editor "id_peoula-deroulement" %}
	{% wysiwyg_editor "id_peoula-conclusion" %}
	{% wysiwyg_editor "id_peoula-materiel" %}
	{% wysiwyg_editor "id_peoula-commentaires" %}
	{% wysiwyg_editor "id_peoula-variantes" %}
	<script src="/static/multifile/multifile.min.js"></script>
	<script src="/static/redactor/fr.min.js"></script>
	<script src="/static/redactor/fullscreen.min.js"></script>
	<script src="/static/bootbox/bootbox.min.js"></script>
	<script>
		bootbox.setDefaults({locale: "fr"});
		{% for piece in files %}
			$(function(){$("button[value='{{ piece }}']").click(function(event){
				var button = $(this);
				event.preventDefault();
				bootbox.confirm("Es-tu sûr de vouloir supprimer la pièce jointe {{ piece }}?", function(confirmed){
					if(confirmed){
						button.unbind('click');
						button.click();
					}
				});
			});});
		{% endfor %}
	</script>
{% endblock %}
