{% extends "base.html" %}

{% block content %}
<div class="container">

	<h1>{{ pageTitle }}</h1>

{% load crispy_forms_tags %}
<form action="/peoulot/{{ url }}" enctype="multipart/form-data" method="post">{% csrf_token %}
	{% crispy peoulaForm %}

	{% crispy fileForm %}

	<ul class="list-inline">
		{% for piece in files %}
		<li><button name="delete" value="{{ piece }}" type="submit" class="btn btn-link"><i class='icon-trash'></i> {{ piece }}</button></li>
		{% endfor %}
	</ul>

	<button class="btn btn-default" type="submit">{{ bouton }}</button>
</form>

</div>
{% endblock %}

{% block js %}

	{% load wysiwyg %}
	{% wysiwyg_setup %}
	{% comment %}TODO find how to set config for all editors{% endcomment %}
	{% with "{lang: 'fr', plugins: ['fullscreen'], buttons: ['html', '|', 'formatting', '|', 'bold', 'italic', 'underline', 'deleted', '|', 'unorderedlist', 'orderedlist', 'outdent', 'indent', '|', 'image', 'table', 'link', '|', 'horizontalrule'], formattingTags: ['p', 'blockquote', 'h3', 'h4', 'h5'], сlipboardUpload: false, dragUpload: false}" as config %}
		{% wysiwyg_editor "id_peoula-introduction" "" config %}
		{% wysiwyg_editor "id_peoula-deroulement" "" config %}
		{% wysiwyg_editor "id_peoula-conclusion" "" config %}
		{% wysiwyg_editor "id_peoula-materiel" "" config %}
		{% wysiwyg_editor "id_peoula-commentaires" "" config %}
		{% wysiwyg_editor "id_peoula-variantes" "" config %}
	{% endwith %}
	<script src="/static/multifile/multifile.min.js"></script>
	<script src="/static/redactor/fr.min.js"></script>
	<script src="/static/redactor/fullscreen.min.js"></script>
{% endblock %}
