{% extends "base.html" %}

{% block content %}

	<h1>Péoula - {{ peoula.nom }}</h1>
	{% if perms.Peoulot.change_peoula %}<a href="{% url 'modifier' peoula.id %}"><i class="fa fa-pencil fa-fw"></i> Modifier la péoula</a><br>{% endif %}
	<!--TODO améliorer print-->
	<a href="javascript:if(window.print)window.print()"><i class="fa fa-print fa-fw"></i> Imprimer la péoula </a>

	<div class="container pull-right col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">{{ peoula.nom }} <small> - {{ peoula.date_creation }}</small></div>
			<div class="panel-body">
				<ul>
					<li><strong>Âge :</strong> {{ peoula.age }}-{{ peoula.age|add:"1" }} ans ({{ kvoutsa }})</li>
					<li><strong>Durée :</strong> {{ peoula.duree }}</li>
					<li><strong>Thème :</strong> {{ peoula.theme }}</li>
					<li><strong>Type :</strong> {{ peoula.genre }}</li>
					<li><strong>Objectifs éducatifs :</strong> {{ peoula.but }}</li>
				</ul>
			</div>
		</div>
	</div>

	<h2>Introduction :</h2>
	<div>{{ peoula.introduction|safe }}</div>

	<h2>Déroulement :</h2>
	<div>{{ peoula.deroulement|safe }}</div>

	<h2>Conclusion :</h2>
	<div>{{ peoula.conclusion|safe }}</div>

	<h2>Matériel et kishout :</h2>
	<div>{{ peoula.materiel|safe }}</div>

	<hr>

	<h2>Commentaires :</h2>
	<div>{{ peoula.commentaires|safe }}</div>

	<h2>Variantes :</h2>
	<div>{{ peoula.variantes|safe }}</div>

	<h2>Pièces Jointes :</h2>
	<ul>
	{% for piece in pieceJointe %}
		<li><a href="{{ MEDIA_URL }}Peoulot/{{ piece }}">{{ piece }}</a></li>
	{% endfor %}
	</ul>
{% endblock %}
