{% extends "base.html" %}

{% block css %}
<link href="/static/tablesort.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">



{% for header, peoulas in peoulot %}
	<h1>{{ header }}</h1>

	<table class="table table-striped table-sort {% if forloop.last %}table-sort-search{% endif %}">
		<thead>
			<tr>
				<th>Nom</th>
				<th class="table-sort">Âge</th>
				<th>Thème</th>
				<th>Type</th>
				<th class="table-sort">Vues</th>
				<th>Date</th>
			</tr>
			{% if forloop.last %}
			<tr>
				<th class="table-sort-search-container" colspan="6"><input class="table-sort-search-input" type="text" placeholder="Rechercher..."></th>
			</tr>
			{% endif %}
		</thead>
		<tbody>

	{% for peoula in peoulas %}
			<tr>
				<td><a href="{% url 'lire' peoula.id %}">{{ peoula.nom }}</a></td>
				<td>{{ peoula.age }}-{{ peoula.age|add:"1" }}</td>
				<td>{{ peoula.theme }}</td>
				<td>{{ peoula.genre }}</td>
				<td>{{ peoula.telechargement }}</td>
				<td>{{ peoula.date_creation }}</td>
			</tr>
	{% endfor %}
		</tbody>
	</table>
{% endfor %}

</div>
{% endblock %}

{% block js %}
<script src="/static/tablesort.js"></script>
<script>
	$(function () { $('.table-sort').tablesort(); });
</script>
{% endblock %}
