/* Table Sorting */
th.table-sort {
  -webkit-transition : all 0.3s;
  -moz-transition    : all 0.3s;
  -ms-transition     : all 0.3s;
  transition         : all 0.3s;
  cursor             : pointer;
}
th.table-sort:hover {
  background: rgb(236, 240, 241);
}

/* Table Sort Search */
.table-sort-search-container {
  background : rgb(236, 240, 241);
}
.table-sort-highlight {
  color: rgb(255, 255, 255);
  background : rgb(24, 188, 156);
}
